@import "./normalize.css";
@font-face {
  font-family: "ios7";
  src: url(../font/ios7.ttf);
}
@font-face {
  font-family: "幼圆";
  src: url(../font/youyuan.TTF);
}

body {
  overflow: hidden;
  min-width: 1400px;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  user-select:none;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  transition: all .5s;
}


.Particles {
  position: fixed;
  top: 80px;
  width: 100%;
}

a {
  text-decoration: none;
}