@import "./normalize.css";
@font-face {
  font-family: "ios7";
  src: url(../font/ios7.ttf);
}

:root {
  --logTextShadow: 0 0 1px #D4AF37, 0 0 5px #D4AF37, 0 0 10px #D4AF37, 0 0 415px #D4AF37, 0 0 20px #D4AF37;
}

body {
  overflow: hidden;
  min-width: 1400px;
  height: 100vh;
  background-image: url(../img/bg/bgEvenfall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}