:root {
  /*=======================导航======================= */
  /* logo - 文本颜色 */
  --logoTextColor: #909399;
  /* logo - 文本阴影 */
  --logTextShadow: 0 0 1px #909399, 0 0 5px #909399;
  /* 导航 - 背景颜色 */
  --navBg: transparent;
  /* 右侧分类 - 背景颜色 */
  --navCategoryBg: transparent;
  /* 右侧分类item - 文本颜色 */
  --itemTextColor: #909399;
  /* 右侧分类item hover - 文本颜色 */
  --itemHover: #909399;
  /* 右侧分类item active - 文本颜色 */
  --itemActive: #909399;
  /* 右侧分类item active - border颜色 */
  --itemBorderActive: #909399;
  /* 右侧分类item hover - 背景颜色 */
  --itemBgHover: transparent;
  /* 右侧主题-文字颜色 */
  --themeTextColor: #909399;
  /* 右侧主题下拉菜单 - 背景颜色 */
  --themeDropdownBg: white;
  /* 右侧主题下拉菜单 - 文字颜色 */
  --themeDropdownTextColor: white;
  /* 右侧主题下拉菜单item - 文字颜色 */
  --themeItemTextColor: #909399;
  /* 右侧主题下拉菜单item hover - 文字颜色 */
  --themeItemHoverTextColor: white;
  /* 右侧主题下拉菜单item hover - 背景颜色 */
  --themeItemHoverBg: #909399;
}

body {
  background-image: linear-gradient(339deg, rgba(47, 47, 47, .02) 0%, rgba(47, 47, 47, .02) 42%, transparent 42%, transparent 99%, rgba(17, 17, 17, .02) 99%, rgba(17, 17, 17, .02) 100%), linear-gradient(257deg, rgba(65, 65, 65, .02) 0%, rgba(65, 65, 65, .02) 11%, transparent 11%, transparent 92%, rgba(53, 53, 53, .02) 92%, rgba(53, 53, 53, .02) 100%), linear-gradient(191deg, rgba(5, 5, 5, .02) 0%, rgba(5, 5, 5, .02) 1%, transparent 1%, transparent 45%, rgba(19, 19, 19, .02) 45%, rgba(19, 19, 19, .02) 100%), linear-gradient(29deg, rgba(28, 28, 28, .02) 0%, rgba(28, 28, 28, .02) 33%, transparent 33%, transparent 40%, rgba(220, 220, 220, .02) 40%, rgba(220, 220, 220, .02) 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}