:root {
  /*=======================导航======================= */
  /* logo - 文本颜色 */
  --logoTextColor: white;
  /* logo - 文本阴影 */
  --logTextShadow: 0 0 1px #d4af37, 0 0 5px #D4AF37, 0 0 10px #D4AF37, 0 0 415px #D4AF37, 0 0 20px #D4AF37;
  /* 导航 - 背景颜色 */
  --navBg: transparent;
  /* 右侧分类 - 背景颜色 */
  --navCategoryBg: transparent;
  /* 右侧分类item - 文本颜色 */
  --itemTextColor: white;
  /* 右侧分类item active - 文本颜色 */
  --itemActive: #d4af37;
  /* 右侧分类item active - border颜色 */
  --itemBorderActive: #d4af37;
  /* 右侧分类item hover - 文本颜色 */
  --itemHover: white;
  /* 右侧分类item hover - 背景颜色 */
  --itemBgHover: transparent;
  /* 右侧主题-文字颜色 */
  --themeTextColor: white;
  /* 右侧主题下拉菜单 - 背景颜色 */
  --themeDropdownBg: transparent;
  /* 右侧主题下拉菜单 - 文字颜色 */
  --themeDropdownTextColor: white;
  /* 右侧主题下拉菜单item - 文字颜色 */
  --themeItemTextColor: white;
  /* 右侧主题下拉菜单item hover - 文字颜色 */
  --themeItemHoverTextColor: #d4af37;
  /* 右侧主题下拉菜单item hover - 背景颜色 */
  --themeItemHoverBg: transparent;
}

body {
  background-image: url(./gaoshanshangdehuang.jpg);
}