/* ele导航样式 */

.navMenu.el-menu.el-menu--horizontal {
  background-color: var(--navCategoryBg);
  border-bottom: none;
}

.navCategory .navMenu.el-menu.el-menu--horizontal>.el-menu-item.is-active {
  color: var(--itemActive);
  border-bottom: 2px solid var(--itemBorderActive);
}

.navMenu.el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .navMenu.el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
  color: var(--itemHover);
  background-color: var(--itemBgHover);
}

.navMenu.el-menu.el-menu--horizontal, .navMenu.el-menu--horizontal>.el-menu-item {
  color: var(--itemTextColor);
  margin: 0 25px;
  font-size: 15px;
  border-bottom: none;
}

/* ele下拉菜单样式 */

.dropDown.el-dropdown {
  font-size: 15px;
  color: var(--themeTextColor);
  cursor: pointer;
}

.dropDown .el-dropdown-link.el-dropdown-selfdefine {
  padding: 20px;
}

.dropdownMenu.el-dropdown-menu {
  overflow: hidden;
  padding: 0;
  min-width: 70px;
  border: none;
  color: var(--themeDropdownTextColor);
  background-color: var(--themeDropdownBg);
}

.dropdownMenu.el-popper[x-placement^="bottom"] {
  margin: 0;
}

.dropdownMenu .el-dropdown-menu__item {
  color: var(--themeItemTextColor);
  text-align: center;
}

.dropdownMenu.el-popper .popper__arrow, .el-popper .popper__arrow::after {
  display: none;
}

.dropdownMenu .el-dropdown-menu__item:focus, .dropdownMenu .el-dropdown-menu__item:not(.is-disabled):hover {
  color: var(--themeItemHoverTextColor);
  background-color: var(--themeItemHoverBg);
}