.blogMenu.el-col {
  padding: 10px 15px;
}

.blogMenu .el-menu-vertical-demo {
  height: calc(100vh - 20px);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 12px 0 rgb(0, 0, 0, .1);
}

.blogMenu .el-menu-vertical-demo>li {
  font-size: 20px;
  transition: all .1s;
}

.el-menu-item:nth-child(1).is-active, .el-menu-item:nth-child(1):focus, .el-menu-item:nth-child(1):hover {
  color: rgb(228, 79, 38);
  background-color: #e2e2e2;
}

.el-menu-item:nth-child(2).is-active, .el-menu-item:nth-child(2):focus, .el-menu-item:nth-child(2):hover {
  color: rgb(21, 114, 182);
  background-color: #e2e2e2;
}

.el-menu-item:nth-child(3).is-active, .el-menu-item:nth-child(3):focus, .el-menu-item:nth-child(3):hover {
  color: rgb(255, 192, 34);
  background-color: #e2e2e2;
}

.el-menu-item:nth-child(4).is-active, .el-menu-item:nth-child(4):focus, .el-menu-item:nth-child(4):hover {
  color: rgb(65, 184, 131);
  background-color: #e2e2e2;
}

.iconfont {
  margin: 0 20px 0 10px;
  font-size: 24px;
}